<!-- SLIDER
============================================= -->
<div style="background-position: 50% 0px;" class="intro-header">

  <div class="row">
    <div class="col-md-12">
      <!-- Slider -->
      <div style="overflow: visible;" class="fullwidthbanner-container">
        <div id="revslider-551" style="max-height: 520px; height: 520px;" class="fullwidthbanner revslider-initialised tp-simpleresponsive">
          <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
            <li style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1; position: absolute;" data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="demo/slide/bg.png" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;demo/slide/bg.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; position: relative;"></div></div>
              <div style="visibility: visible; opacity: 0; top: 60px; left: 970px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black sfr start" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">
                <img style="width: 680px; height: 364px;" src="images/rescate.jpg" alt="slide">
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 35px; left: -338px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>HELP</h6>
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 122px; left: -448px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="122" data-speed="500" data-start="1100" data-easing="easeInOutQuad">
                <h6>Save</h6>
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 210px; left: -506px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>Lives.</h6>
              </div>
            </li>
            <li style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1; position: absolute;" data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="demo/slide/bg.png" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;demo/slide/bg.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0;"></div></div>
              <div style="visibility: visible; opacity: 0; top: 60px; left: 970px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black sfr start" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">
                <img style="width: 680px; height: 364px;" src="index_data/imac.png" alt="slide">
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 35px; left: -338px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>Cordinate</h6>
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 122px; left: -440px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="122" data-speed="500" data-start="1100" data-easing="easeInOutQuad">
                <h6>your</h6>
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 210px; left: -457px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>Team.</h6>
              </div>
            </li>
            <li style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1; position: absolute; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: center center 0px;" data-transition="random" data-slotamount="7" data-masterspeed="1000">
              <div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="demo/slide/bg.png" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;demo/slide/bg.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1;"></div></div>
              <div style="visibility: visible; opacity: 1; top: 60px; left: 920px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black sfr start" data-x="550" data-y="60" data-speed="1500" data-start="600" data-easing="easeInOutBack">

              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 35px; left: 400px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="35" data-speed="500" data-start="800" data-easing="easeInOutQuad">
                <h6>Life-Saving</h6>
              </div>
              <div style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 210px; left: 400px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);" class="tp-caption large_black lfl carousel-caption-inner start" data-x="30" data-y="210" data-speed="500" data-start="1400" data-easing="easeInOutQuad">
                <h6>Technologies.</h6>
              </div>
            </li>
          </ul>
          <div style="display: none;" class="tp-loader"></div><div class="tp-bannertimer" style="visibility: hidden; width: 38.9775%; overflow: hidden;"></div></div>
        <div style="bottom: 20px; left: 50%; margin-left: -44px;" class="tp-bullets simplebullets round hidebullets"><div class="bullet first"></div><div class="bullet"></div><div class="bullet last selected"></div><div class="tpclear"></div></div><div style="position: absolute; top: 182px; margin-top: -32px; left: 20px;" class="tp-leftarrow tparrows default hidearrows"></div><div style="position: absolute; top: 182px; margin-top: -32px; right: 20px;" class="tp-rightarrow tparrows default hidearrows"></div></div>
      <!-- Slider -->
    </div>
  </div>
</div>
<!-- SLIDER
============================================= -->