<!DOCTYPE html>
<html>
<head>
  <title>LifeTrackLp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <div class="body">
    <%= yield %>
  </div>
</body>
</html>
